body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background-color: #0770a2;
  color: #fff;
  font-size: 2.5em;
  padding: 0.2em;
  margin-bottom: 1em;
}

.identifier {
  font-family: monospace;
  font-size: 1.4em;
  font-weight: bold;
  color: #5a5a5a;
}

#footer {
  position: relative;
  height: 5em;
  line-height: 5em;
  margin: 0;
  background: #0770a2;
  color: #999;
  color: rgba(255,255,255,0.5);
  font-size: 1.2em;
  overflow: hidden;
  text-align: center;
}

  #footer a {
    color: #999;
    color: rgba(255,255,255,0.5);
  }

  #footer a:hover {
    color: rgba(255,255,255,0.7);
  }
