<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive barterer API </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Real-time location and sensor data API.">
    <link rel="stylesheet" href="../../style/bootstrap.min.css">
    <link rel="stylesheet" href="../../style/LineChart.min.css">
    <link rel="stylesheet" href="../../style/barterer.css">
    <script type="text/javascript" src="../../js/angular.min.js"></script>
    <script type="text/javascript" src="../../js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../../js/d3.min.js"></script>
    <script type="text/javascript" src="../../js/LineChart.min.js"></script>
    <script type="text/javascript" src="../../js/barterer.js"></script>
  </head>
  <body ng-app="response">
    <div ng-controller="ApiCtrl" id="content">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> Status: {{meta.message}} </a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                {{pollingMessage}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href ng-click="updatePeriod(null)">Disable polling</a></li>
                <li role="menuitem"><a href ng-click="updatePeriod(2000)">Poll every 2 seconds</a></li>
                <li role="menuitem"><a href ng-click="updatePeriod(10000)">Poll every 10 seconds</a></li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                {{orderingMessage}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href ng-click="updateOrdering('+id')">Order by increasing ID</a></li>
                <li role="menuitem"><a href ng-click="updateOrdering('-id')">Order by decreasing ID</a></li>
                <li role="menuitem"><a href ng-click="updateOrdering('+rssi')">Order by increasing RSSI</a></li>
                <li role="menuitem"><a href ng-click="updateOrdering('-rssi')">Order by decreasing RSSI</a></li>
              </ul>
            </li>
            <li>
              <a href ng-click="expand = !expand">
                {{expand? 'Collapse all' : 'Expand all'}}
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div ng-show="isEmpty()"> 
          <img src="../../images/barterer-none.jpg"
               class="img-responsive center-block">
        </div>
        <uib-accordion ng-repeat="device in transmitters | orderBy: ordering">
          <div uib-accordion-group class="panel-default" is-open="expand">
            <uib-accordion-heading>
              <span class="identifier"> {{device.id}} <span class="caret"></span></span>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <pre>{{device.identifier | json}}</pre>
              </div>
              <div class="col-xs-12 col-md-6">
                <table class="table table-hover">
                  <tr>
                    <th> RSSI </th>
                    <th> Receiver ID </th>
                    <th> Query </th>
                  </tr>
                  <tr ng-repeat="decoding in device.radioDecodings">
                    <td> {{decoding.rssi}} </td>
                    <td> {{decoding.identifier.value}} </td>
                    <td>
                      <a ng-href="{{decoding.href}}" role="button"
                         class="btn btn-default btn-xs">
                        What at {{decoding.identifier.value}}?
                      </a>
                    </td>
                  </tr>
                </table>
                <p class="text-center">
                  <a ng-href="{{device.href}}" role="button"
                     class="btn btn-default"> Where is {{device.id}}? </a>
                  <button class="btn btn-default"
                          ng-init="showChart[device.id] = false"
                          ng-click="toggleChart(device.id)">
                    {{showChart[device.id]? 'Hide graph' : 'Show graph'}}
                  </button>
                </p>
                <div class="rssi-chart" ng-show="showChart[device.id]">
                  <linechart ng-if="showChart[device.id]"
                             data="devicesRSSI[device.id]"
                             options="charts[device.id]"></linechart>
                </div>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/barterer"
           uib-tooltip="Get the code on GitHub"
           tooltip-placement="left"> barterer </a>
        &nbsp; | &nbsp;
        <a href="http://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right"> &copy; reelyActive 2015-2017 </a>
      </footer>
    </div>
  </body>
</html>
